.example-card {
  margin-bottom: 8px;
  justify-content: left;
  align-items: Center;
  margin-top: 10px;
  width: 275px;
  cursor: pointer;
}

.example-card:hover{
  transform: scale(1.02);
  border: solid 1px
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
